* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 5.8rem;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0, 0.4, 0.4);
  color: whitesmoke;
  overflow: hidden;
}

.App:before {
  content: '';
  background: url('https://wallpapers.com/images/high/dark-forest-background-bfiqqyh7og36ikso.webp') no-repeat center center/cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 2000px;
  min-height: 100vh;
  margin: auto;
  padding: 0.1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  margin: 1rem auto;
}

.description {
  position: relative;
  right: -70%;
  transform-origin: top left;
  transform: rotate(270deg);
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid white;
}

.bold {
  font-weight: 600;
  padding-top: 10px;
}

.search {
  text-align: center;
  padding: 1rem;
}

input {
  padding: 0.5rem 1.7rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: grey;
}
